<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Downloaded Video</title>
    </head>
    <body>
        <div>
            <h1>Video downloaded!</h1>
        <div>
        <div>
            <p><b>Here are some details about the video you've just downloaded:</b></p>
            <ul>
                <li>Video link: {{vlink}} </li>
                <li>Title: {{vtitle}} </li>
                <li>Author: {{vauthor}} </li>
                <li>Published Date: {{vpublidate}} </li>
                <li>Number of views: {{vnbviews}} </li>
                <li>Length: {{vlength}} seconds </li>
            </ul>
        <div>
    </body>
</html>
